.img {
  display: flex;
  justify-content: center !important;

}
.carousel-inner img {
 display: flex;
 justify-content: center;
  height: 400px;
  width: 350px;
}
.card {
  border-radius: 20px;
  transition: transform .2s;
}
.card:hover {
  transform: scale(0.9);
}